.about-page .hacker,
.hackercamp .hacker {
  margin-top: 40px;
  margin-bottom: 40px;
  background: #fff;
  padding: 40px;
}
.about-page .hacker h4,
.hackercamp .hacker h4 {
  font-size: 36px;
  margin: 0;
}
.about-page .hacker p,
.hackercamp .hacker p {
  line-height: 20px;
  margin: 10px 0;
}
.about-page .hacker .strike,
.hackercamp .hacker .strike {
  text-decoration: line-through;
}
.about-page p img,
.hackercamp p img {
  width: 100%;
  margin: 20px 0 0;
}
.about-page iframe,
.hackercamp iframe {
  margin: 40px auto;
  display: block;
}
.registration .form-group label {
  font-weight: 600;
}
.registration h4 {
  font-weight: 700;
  margin: 40px 0 15px;
  border-bottom: 1px solid #db5562;
  padding: 0 0 15px;
  float: left;
  width: 100%;
}
.registration small {
  margin: -15px 0 15px;
  float: left;
  width: 100%;
}
body {
  margin-top: 0px;
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  font-family: 'Work Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body > .navbar {
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: top 0.15s ease-in;
}
h2 {
  font-size: 30px;
  color: #13022C;
  font-weight: 600;
  line-height: 1.25;
}
.btn-primary {
  background: #db366a;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px 0px 0px #545358;
  transition: background 0.15s ease-in;
}
.btn-primary:hover {
  background: #a71e49;
}
.navbar-default {
  border: none;
  background-color: #fFF;
  height: 60px;
  line-height: 60px;
}
.navbar-default .navbar-brand img {
  float: left;
  height: 45px;
  margin-top: -8px;
  margin-right: 15px;
}
.navbar-default .navbar-brand .logo-title {
  height: 24px;
  margin: 0;
}
.navbar-default .navbar-btn {
  margin: -4px 0 0 15px;
}
.navbar-default .navbar-nav > li > a {
  color: #363d3c;
  line-height: 30px;
  padding: 10px 10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
}
.hello {
  margin-top: 60px;
  background: url(/2019/images/hero-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.hello:before {
  content: "";
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: #fff;
}
.hello:after {
  content: "";
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 19px;
  z-index: -1;
  background: #bce784;
  border-bottom: 7px solid #dc396c;
}
.hello .container {
  position: relative;
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
}
.hello .container h1 {
  margin: 15vh 0 50px;
}
.hello .container .info-container {
  display: inline-block;
  padding: 35px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  margin-top: 195px;
}
.hello .container .btn-register {
  text-shadow: none;
  background: #da4d5b;
  border: none;
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  transition: background 0.35s ease-in;
  position: relative;
}
.hello .container .btn-register:hover {
  background: #b52634;
}
.hello .container .btn-register:before {
  content: "";
  position: absolute;
}
.panel .panel-default .digital {
  background-color: greenyellow;
}
.panel .panel-default .analog {
  background-color: lightblue;
}
.panel .panel-default .devrandom {
  background-color: palevioletred;
}
.page {
  margin-top: 50px;
}
.jumbotron {
  position: relative;
  text-align: center;
  margin-top: 0px;
  max-height: 100vh;
}
.jumbotron .container {
  padding-left: 50px;
}
.jumbotron h1 {
  background: none;
  opacity: 1;
  padding: 0;
  margin: 0;
}
.jumbotron h2 {
  font-size: 2.5em;
  font-weight: 300;
  background: none;
  color: white;
  opacity: 1;
  margin: 15px 0 0;
  padding: 0;
}
.jumbotron .jumbotron-contents {
  padding: 100px 50px;
}
.jumbotron .date {
  margin: 50px 0;
}
.jumbotron .carousel:before {
  background: #000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}
.jumbotron .about-jumper {
  color: #fff;
  opacity: 1;
  z-index: 1;
  position: absolute;
  bottom: 20px;
}
.jumbotron .about-jumper span {
  display: block;
  font-weight: 300;
  margin: 5px;
}
.jumbotron .about-jumper .glyphicon {
  font-size: 25px;
}
.event-details {
  padding-bottom: 0;
}
.event-details .cta {
  margin-top: 40px;
}
.hackercamp {
  background: #85d5d2;
}
.hackercamp h2 {
  margin: 50px 15px 10px;
  font-weight: 600;
}
.hackercamp p,
.hackercamp li {
  font-size: 16px;
}
.hackercamp .hacker {
  margin-bottom: 60px;
}
.hackercamp .desc p {
  margin: 40px 0;
}
.participation {
  background: #ffffff;
  text-align: center;
  padding: 40px 0 60px;
}
.participation h2 {
  font-weight: 600;
}
.participation h3 + p {
  padding: 0 15px;
}
.participation p {
  font-size: 16px;
}
.participation img {
  margin-top: 50px;
  width: 240px;
  height: 220px;
  display: inline-block;
  object-fit: contain;
}
.where {
  padding: 0;
  position: relative;
}
.where .map {
  height: 80vh;
}
.where .map iframe {
  height: 100%;
}
.where .container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.where .container .overlay {
  background: #00a0b0;
  pointer-events: all;
  color: #fff;
  opacity: 0.85;
  margin-top: 50px;
  padding: 50px;
  font-size: 14px;
  box-shadow: 3px 3px 0 0 #ffffff;
}
.where .container .overlay h2 {
  color: #fff;
  margin: 0;
  font-weight: 400;
  margin: 0 0 15px;
}
.where .container .overlay p {
  font-size: 16px;
}
.where .container .overlay a {
  color: #fff;
  font-weight: 600;
}
.about {
  background: #fff;
  margin: 0;
  padding: 50px 0 70px;
}
.about .wrapper .visual {
  background: url(/2019/images/about-visual.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  width: 520px;
  height: 340px;
  position: relative;
}
.about .wrapper .visual:before {
  content: "";
  position: absolute;
  width: 50vw;
  top: 279px;
  bottom: 13px;
  background: #e7e6eb;
  right: 100%;
}
.about .wrapper .visual:after {
  content: "";
  position: absolute;
  width: 50vw;
  top: 290px;
  bottom: 46px;
  background: #79787d;
  right: 100%;
}
.about .wrapper h2 {
  text-align: left;
  margin: 0 0 15px;
}
.about .wrapper .btn-register {
  font-size: 25px;
  font-weight: 300;
  padding: 0 40px;
  line-height: 46px;
}
.about .wrapper .cta {
  display: inline-block;
  text-shadow: none;
  background: #da4d5b;
  border: none;
  font-size: 26px;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
  transition: background 0.35s ease-in;
}
.about .wrapper .cta:hover {
  background: #b52634;
}
.about .wrapper .cta-container {
  margin-top: 30px;
}
.gallery {
  background: #fff;
}
.gallery h2 {
  margin: 80px 0 30px;
}
.gallery .container {
  padding: 0;
  width: auto;
  overflow: hidden;
}
.gallery .list {
  margin: 0 -5px;
}
.gallery img {
  height: 250px;
  width: calc(25% - 10px);
  float: left;
  object-fit: cover;
  margin: 5px;
}
.what h1 {
  margin: 0 0 40px;
}
.what p {
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.schedule-page .days {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.schedule-page .slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #fff;
}
.schedule-page .slots .day a {
  display: block;
  background: rgba(140, 193, 82, 0.5);
  padding: 5px;
  box-sizing: border-box;
  color: #434a54;
  margin: 5px 5px 0 0;
}
.schedule-page .slots .day a.busy {
  background: hsla(354, 67%, 56%, 0.26);
  pointer-events: none;
}
.schedule-page .slots .day a.current {
  background: #428bca;
  color: #fff;
}
.schedule-page .slots .day a.current:hover {
  background: #2a6496;
}
.schedule-page .slots .day a:hover {
  background: #8cc152;
}
[data-action="timetablePretty"] {
  background: #434a54;
}
@media screen and (min-width: 992px) {
  [data-action="timetablePretty"] article .schedule .nav {
    margin-top: 25px;
  }
  [data-action="timetablePretty"] article .schedule .nav ul {
    justify-content: left;
    margin-bottom: 25px;
  }
  [data-action="timetablePretty"] article .schedule .nav ul li {
    margin-right: 15px;
    height: 45px;
  }
  [data-action="timetablePretty"] article .schedule .nav ul li a {
    line-height: 45px;
    display: block;
    padding: 0 40px;
  }
  [data-action="timetablePretty"] article .schedule .talks {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  [data-action="timetablePretty"] article .schedule h2 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
[data-action="timetablePretty"] > .navbar {
  position: absolute;
}
[data-action="timetablePretty"] article {
  padding: 0;
}
[data-action="timetablePretty"] .schedule {
  margin-top: 15px;
  padding: 0 5px;
}
[data-action="timetablePretty"] .schedule .nav {
  background: #434a54;
}
[data-action="timetablePretty"] .schedule .nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  line-height: 60px;
}
[data-action="timetablePretty"] .schedule .nav ul li {
  border-bottom: 3px solid #da4353;
  background: rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}
[data-action="timetablePretty"] .schedule .nav ul li.active {
  background: #da4353;
}
[data-action="timetablePretty"] .schedule .nav ul li a {
  color: #fff;
  padding: 0 10px;
  line-height: 60px;
  display: inline-block;
}
[data-action="timetablePretty"] .schedule .nav ul li a.fav {
  min-width: 60px;
  text-align: center;
  font-size: 22px;
}
[data-action="timetablePretty"] .schedule h2 {
  padding: 0 0 5px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}
[data-action="timetablePretty"] .schedule .talk {
  color: #fff;
  text-align: left;
  margin: 0 0 30px;
  height: auto;
  padding: 0 10px;
}
[data-action="timetablePretty"] .schedule .talk h3 {
  margin: 0;
}
[data-action="timetablePretty"] .schedule .talk .avatar {
  padding: 0 10px 0 0;
}
[data-action="timetablePretty"] .schedule .talk .avatar img {
  height: auto;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
}
[data-action="timetablePretty"] .schedule .talk .meta {
  padding: 0;
}
[data-action="timetablePretty"] .schedule .talk .meta h1 {
  margin: 0;
}
[data-action="timetablePretty"] .schedule .talk .meta .author {
  margin: 3px 0;
  line-height: 1;
  font-size: 16px;
  opacity: 0.5;
}
[data-action="timetablePretty"] .schedule .talk .meta .track {
  line-height: 1;
  color: #da4353;
}
[data-action="timetablePretty"] .schedule .talk .time {
  cursor: pointer;
  transition: opacity 0.15s ease-in;
  padding: 0;
  text-align: center;
}
[data-action="timetablePretty"] .schedule .talk .time.active {
  color: #da4353;
}
[data-action="timetablePretty"] .schedule .talk .time.active i {
  color: #da4353;
}
[data-action="timetablePretty"] .schedule .talk .time:hover {
  opacity: 0.8;
}
[data-action="timetablePretty"] .schedule .talk .time span {
  font-size: 18px;
}
[data-action="timetablePretty"] .schedule .talk .time i {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 24px;
  margin: 5px 0;
  font-style: normal;
}
@media screen and (max-width: 991px) {
  body.fixed article .schedule {
    padding-top: 75px;
  }
  body.fixed article .schedule .nav {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 5px 5px 0;
    z-index: 100;
  }
}
.welcome-page h2 {
  padding: 0;
  line-height: 32px;
}
.sponsors h2 {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: 600;
}
.sponsors .sponsor {
  margin: 0 0 30px;
  align-items: center;
  display: flex;
  height: 100px;
}
.sponsors .gold {
  background: #fec10e;
  margin-right: 5%;
  margin-left: 3%;
  box-shadow: 3px 3px 0 0 #db366a;
}
.sponsors .gold .sponsor {
  max-width: 220px;
  margin: 90px auto;
}
.sponsors .gold .sponsor img {
  max-height: initial;
}
.sponsors .bronze .sponsor {
  max-width: 175px;
  margin: 90px auto;
}
.sponsors img {
  max-height: 80px;
  max-width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .hello {
    background-size: contain;
    height: 30vh;
    background-image: none;
    background-color: #fff;
    margin: 60px 0 0;
  }
  .hello .container .info-container {
    margin: 10px 0 0;
    padding: 20px 0;
  }
  .hello .container .info-container .btn-register {
    font-size: 18px;
  }
  .hello:before {
    position: fixed;
    left: 0;
    right: 0;
  }
  .hello:after {
    display: none;
  }
  .about .wrapper .cta-container {
    text-align: center;
  }
  .navbar-default {
    height: auto;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
  }
  .navbar-default .navbar-toggle {
    margin: 13px 10px;
  }
  .navbar-default .navbar-brand .logo-title {
    margin: 2px 0;
    width: 200px;
    height: auto;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #363d3c;
    line-height: 30px;
  }
  .jumbotron {
    padding-top: 50px;
  }
  .jumbotron .carousel:before {
    display: none;
  }
  .jumbotron .jumbotron-contents {
    padding: 0 0 50px;
  }
  .jumbotron .container {
    padding-left: 0;
  }
  .jumbotron h1 {
    display: none;
  }
  .jumbotron h2,
  .jumbotron p {
    color: inherit;
  }
  .about .wrapper {
    padding: 0 50px;
    width: 100%;
  }
  .hackercamp .desc p {
    margin-top: -20px;
  }
  .participation h3 {
    font-size: 22px;
    font-weight: 500;
  }
  .gallery img {
    height: 150px;
    width: calc(50% - 10px);
  }
  .gallery img:nth-child(n + 9) {
    display: none;
  }
  .where .container {
    position: initial;
    transform: none;
    margin: 0;
  }
  .where .container .overlay {
    margin: 0;
  }
  .sponsors .gold {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .sponsors .gold h2 {
    margin: 0;
    padding-top: 20px;
  }
  .sponsors .gold .sponsor {
    margin: 0 auto;
    height: auto;
  }
  .sponsors .gold .sponsor img {
    max-height: 150px;
  }
  .sponsors .bronze .sponsor {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .jumbotron {
    height: 850px;
  }
  .jumbotron .carousel {
    height: 850px;
  }
}
